/*-------------- RESET -------------- */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

/* -------------- IMPORT SCSS -------------- */
/* -------------- PALETA DE COLORES -------------- */
/* -------------- ESTILOS HEADER -------------- */
.contenedor-header {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .contenedor-header .btn-menu {
    margin-right: 20px;
    cursor: pointer; }
  .contenedor-header .logo {
    width: 120px;
    margin-left: 20px; }
  .contenedor-header .menu-nav {
    width: 100%;
    position: absolute;
    top: 100px;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .contenedor-header .menu-nav .nav {
      width: 100%; }
      .contenedor-header .menu-nav .nav li {
        height: 60px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .contenedor-header .menu-nav .nav li:hover {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.1);
          padding-left: 30px;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
        .contenedor-header .menu-nav .nav li:last-child {
          border-bottom: none; }
        .contenedor-header .menu-nav .nav li a {
          list-style: none;
          text-decoration: none;
          color: #fff;
          padding-left: 20px; }
  .contenedor-header .mostrar {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1000; }

@media (min-width: 768px) {
  .contenedor-header {
    max-width: 950px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .contenedor-header .btn-menu {
      display: none; }
    .contenedor-header .menu-nav {
      position: static;
      width: 500px;
      left: 0;
      background: none; }
      .contenedor-header .menu-nav .nav {
        width: auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center; }
        .contenedor-header .menu-nav .nav li {
          height: 20px;
          padding: 5px;
          border-bottom: none; }
          .contenedor-header .menu-nav .nav li:last-child {
            border-bottom: none; }
          .contenedor-header .menu-nav .nav li a {
            list-style: none;
            text-decoration: none;
            color: #fff;
            padding-left: 20px; } }

/* -------------- ESTILOS BASICOS -------------- */
/* -------------- PALETA DE COLORES -------------- */
/* -------------- ESTILOS HEADER -------------- */
header {
  width: 100%;
  height: 100px;
  background-color: #000; }

.slider {
  width: 100%;
  height: 540px;
  background-color: #2ecc71; }

.main_content {
  width: 100%;
  height: 885px; }

footer {
  width: 100%;
  height: 575px;
  background-color: #222; }
