/* HEADER */

.header_container {
    margin: auto;
    width: 100%;
    background-color: #2ECC71;
}

//ESTILOS DEL HEADER
header {
    width: 98%;
    margin: auto;
    height: 200px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    
//  ESTILOS DEL LOGO
    .logo {
        width: 200px;
        height: 100px;
        margin: 30px 0 0 0;
        
        
    }
    
//  ESTILOS DEL MENU_NAV
    #menu_nav {
        display: none;
    }
    
//  ESTILOS DEL MENU
    #menu {
        background-color: #2ecc71;
        width: 100%;
        line-height: 2.2;
        text-align: center;
        color: #fff;
        font-size: 22px;
        position: absolute;
        top: 152px;
        left: 0;
        cursor: pointer;
        
        &:hover {
            display: block;
            background-color: rgba(255,255,255,0.2);
        }
        
    }
    
//    ESTILOS DEL UL
    ul {
        width: 100%;
        position: absolute;
        top: 200px;
        left: -100%;
        display: block;
        justify-content: center;
        align-items: center;
        background: rgba(#2ecc71,0.9);
        transition: all 1.5s;
        font-family: advent-pro;
        
//        ESTILOS DEL LI
        li {
            list-style: none;
            border-bottom: 1px solid rgba(255,255,255,0.40);
            cursor: pointer;
            
            &:first-child {
                border-top: 1px solid rgba(255,255,255,0.40);
            }
            
//            ESTILOS DEL A
            a {
                padding-left: 20px;
                width: 100%;
                text-decoration: none;
                color: #fff;
                display: inline-block;
                line-height: 3;
                font-size: 20px;
                
                &:hover {
                    display: block;
                    background-color: rgba(255,255,255,0.10);
                    padding-left: 40px;
                }
            }

            }
        }
}

//ESTILOS CHECKED DEL MENU_NAV
#menu_nav:checked ~ nav ul {
            left: 0;
}
    
//MEDIAQUERY 1024 PX
@media (min-width: 1024px) {
    
    .header_container {
        margin: auto;
        width: 100%;
        background-color: #2ECC71;
    
        header {
            width: 945px;
            
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                margin: 0;
                width: 200px;
                height: 100px;
                
            }

            #menu {
                display: none;
            }

            nav {
                width: 650px;
                height: 50px;
               

                ul {
                    position: relative;
                    top: 0;
                    left: 0px;
                    background: #2ECC71;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;


                li {
                    border-right: 1px solid rgba(255,255,255,0.7);
                    width: 100%;
                    text-align: center;
                    list-style: none;
                    cursor: pointer;
                    border-bottom: none;
                    &:last-child {
                        border-right: none;
                    }

                    &:first-child {
                        border-top: none;
                    }

                a {
                    padding-left: 0;
                    text-decoration: none;
                    color: #fff;
                    line-height: 2;
                    font-size: 20px;

                    &:hover {
                        padding-left: 0;
                        background-color: rgba(255,255,255,0.10);
                    }
                }

                }
            }
            }
        }
        }
    }